/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo {
    max-width: 200px;
    margin: 20px auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.tagline {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #666;
}

.coming-soon {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #999;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

#my-form-status {
    margin-top: 20px;
    font-size: 1.1em;
    color: #28a745;
}

.social-media {
    margin-top: 40px;
}

.social-media a {
    color: #333;
    font-size: 40px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #007BFF;
}

.social-media .linktree img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
