* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto; /* Ensure the page is scrollable if necessary */
    background: #f3f3f3;
    font-family: Arial, sans-serif;
    padding: 10px; /* Adjusted padding */
}

.container {
    text-align: center;
    padding: 20px 30px; /* Increased padding on the sides */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 90%;
    margin: 20px auto; /* Adjusted top margin */
}

.logo {
    max-width: 300px;
    height: auto;
    border-radius: 15px; /* Adjust the value as needed */
    margin-top: 10px; /* Adjusted margin */
}

h1 {
    margin-top: 10px; /* Adjusted margin */
    font-size: 2.5em;
    color: #333;
}

.tagline {
    font-size: 1.5em;
    color: #666;
    margin-top: 10px;
    font-style: italic; /* Optional: italicize the tagline for emphasis */
}

.coming-soon {
    font-size: 1.2em;
    color: #999;
    margin-top: 10px; /* Adjusted margin */
    margin-bottom: 20px; /* Adjusted margin */
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px; /* Space between the heading and form */
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
    align-self: flex-start; /* Align labels to the start of the form */
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #008080; /* Teal color to match the logo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f5f; /* Darker teal on hover */
}

#my-form-status {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #008080; /* Teal color to match the logo */
    transition: color 0.3s;
}

.social-media a:hover {
    color: #005f5f; /* Darker teal on hover */
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    .tagline {
        font-size: 1.2em;
    }
    .coming-soon {
        font-size: 1em;
    }
    h2 {
        font-size: 1.5em;
    }
    input, textarea {
        width: 90%;
    }
}

@media only screen and (max-width: 1125px) and (max-height: 2001px) {
    body {
        align-items: flex-start;
    }
}